@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* CSS Document */

.navigation_bar{
	text-transform: uppercase;
	height: 60px;
	padding: 8px;
  	width: 95%;
  	font-family: 'Muli';
	margin-left: 50px;
	margin-right: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li{
	display: inline;
}

li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.left_nav{
	float: left;
  	left: inherit;
}

.right_nav{
	float: right;
	right: inherit;
}

.banner{
	margin-left: 50px;
	margin-right: 50px;
}

.banner_text{
	color: white;
	position: absolute;
  	top: 100px;
  	left: 110px;
  	font-family: 'Quicksand';
}

.banner img{
	width: 100%
}

hr{
  margin-left: 50px;
  margin-right: 50px;
}

.NeighborhoodGuides{
	background-color: #D0CDCD;
	margin-left: 50px;
	margin-right: 50px;
}

.NeighborhoodGuides h2{
	  margin-left: 48px;
  	font-family: 'Quicksand';
}

.NeighborhoodGuides p{
	margin-left: 48px;
  	font-family: 'Quicksand';
}

.Neighborhood{
	 	float: left;
  	margin: 8px;
}

.Neighborhood img{
	margin: 4px;
}

.EachNeighborColumn{
	margin-top: 4px;
  	margin-bottom: 4px;
}

.allNeighborhood{
/* 	display: block; */
  	margin: auto;
  	overflow: hidden;
	height: fit-content;
	display: flex;
 	justify-content: center;
}

.kindaFooter{
	clear: both;
	background-color: #E4DFE0;
	margin: auto;
	display: flex;
 	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}

.ColumnFooter{
	
  	float: left;
  	margin: 2px;
  	padding: 2px;
  	font-family: 'Quicksand';
}

.ColumnFooter h4{
	font-family: 'Muli';
  	text-align: justify;
}

.ColumnFooter a{
	color: #3BDABE;
  font-family: 'Muli';
  text-align: justify;
}

/* Building a Responsive Grid-View */
* {
  box-sizing: border-box;
}
/* For mobile phones: */
 [class*="col-"] {
  width: 100%;
} 

@media screen and (max-width: 992px) {
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

	hr{
	  display: none;
	}
}


@media screen and (max-width: 768px) {
  /* For tablet: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  
  .navigation_bar{
    background-color: gray;
  }
  .left_nav a{
    color: white;
  }
  .right_nav a{
    color: white;
  }
  .banner img{
    display: none;
  }
  .banner_text{
    color: black;
    display: block;
    position: inherit;
  }
  hr{
    display: block;
  }
  .NeighborhoodGuides{
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
  }
  .NeighborhoodGuides h2{
    margin-left: 50px;
  }
  .NeighborhoodGuides p{
    margin-left: 50px;
  }
  .allNeighborhood{
       display: block;
   }
   .Neighborhood{
       display: flex;
       flex-direction: column;
   }
   .EachNeighborColumn{
       display: flex;
       flex-direction: row;
   }
  .kindaFooter{
    background-color: white;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  /* For mobile: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .NeighborhoodGuides h2{
    margin-left: 50px;
  }
  .NeighborhoodGuides p{
    margin-left: 50px;
  }

  .EachNeighborColumn{
    display: flex;
    flex-direction: column;
  }
}


